@import url('https://cdn.jsdelivr.net/npm/picnic');

@font-face{
  font-family: 'fatcowboy';
  src: url('./fonts/fat_cowboy.ttf');
}

.App-Nav {
  text-align: center;
  width: 100%;
}

.App-Title{
  font-family: 'fatcowboy', monospace;
  font-size: 3em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button-bar {
  font-family: 'fatcowboy', monospace;
}

.Loading {
  text-align: center;
  width: 100%;
}

.Puzzles-Grid{
  justify-items: center;
  align-items: center;
  width: 90%;
  padding-left: 10px;
}

.Hangman-Display{
  font-family: monospace, monospace;
}

/* Converted from in in-line react example */
.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  z-index: 10; /* was having layering issues. */
}

.modal {
  background-color: #ffffff;
  border-Radius: 5;
  max-Width: 800px;
  min-Height: 600px;
  margin: 0 auto;
  padding: 30px;
  z-index: 100;
}

@keyframes load-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imagePad{
  padding: 2em;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
}

img{
  max-height: 30vh;
  object-fit: cover;
  margin: 10px;
}

button {
  max-width:20em;
  white-space:nowrap;
  overflow:hidden;
}